{:deps    {com.newrelic.agent.java/newrelic-api {:mvn/version "7.1.1"}}
 :aliases {:build {:deps       {local/build                      {:local/root "./build"}
                                io.github.clojure/tools.build    {:git/tag "v0.8.1"
                                                                  :git/sha "7d40500"}
                                io.github.seancorfield/build-clj {:git/tag "v0.8.0"
                                                                  :git/sha "9bd8b8a"}}
                   :ns-default build}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.70.1086"}}
                  :main-opts  ["-m" "kaocha.runner"]}}}
