{:deps    {com.newrelic.agent.java/newrelic-api {:mvn/version "7.1.1"}}
 :aliases {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.70.1086"}}
                  :main-opts  ["-m" "kaocha.runner"]}}}
